[staticPage]
useContent = 1
default = 0

[LocationPicker]

[genericForm]
messages_success = "Ваша форма была успешно отправлена!"
messages_errors = "В вашей заявке содержатся ошибки."
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"
==
<?php
// function onStart() {
//     dump(Session::get('Region'));
// }
?>
==
{#
{variable name="titlehero" label="Описание главного блока" tab="Главный блок" type="text"}{/variable}
{variable name="descriptionhrro" label="Описание главного блока" tab="Главный блок" type="textarea"}{/variable}

{variable name="title1block" label="Описание 1 блока" tab="1 Блок" type="text"}{/variable}
{variable name="description1block" label="Описание 1 блока" tab="1 Блок" type="richeditor"}{/variable}
{variable name="description1image" label="Изображение 1 блока" tab="1 Блок" type="mediafinder"}{/variable}

{repeater name="herobloks1" prompt="Добавить блок" tab="Главный блок"}
{variable name="title" label="Название" type="text"}{/variable}
{variable name="icon" label="Иконка текстом" type="text"}{/variable}
{variable name="image" label="Изображение" type="mediafinder"}{/variable}
{/repeater}

{variable name="wideblock1title" label="Название" type="text" tab="Широкий 1"}{/variable}
{variable name="wideblock1link" label="Ссылка" type="text" tab="Широкий 1"}{/variable}
{variable name="wideblock1descr" label="Описание" type="textarea" tab="Широкий 1"}{/variable}
{variable name="wideblock1image" label="Изображение" type="mediafinder" tab="Широкий 1"}{/variable}

{repeater name="servicesblock" prompt="Добавить новую услугу" tab="Услуги"}
{variable name="name" label="Название" type="text"}{/variable}
{variable name="image" label="Изображение" type="mediafinder"}{/variable}
{/repeater}




#}
<!DOCTYPE html>
<html lang="ru">

<head>
    {% partial "Site/Meta" %}
</head>

<body class="text-[#222222]">
    {% partial "Site/Header" %}

    {% partial "Blocks/Map" %}

    <section class="wow pulse container mx-auto px-4 xl:px-0 text-center xl:text-left xl:grid grid-cols-3 gap-8 py-16">
        <img class="col-span-2 w-full hidden xl:block" src="{{ description1image| media }}" alt="about-image" />
        <div>
            <h2 class="font-extrabold text-3xl mb-3">{{ title1block }}</h2>
            {{ description1block|raw }}
        </div>
    </section>
    {% partial "Blocks/titleWithBg" name=wideblock1title link=wideblock1link title=wideblock1title text=wideblock1descr
    image=wideblock1image | media %}

    {% partial "Blocks/homeServices" items=servicesblock[:3] %}

    <section class="bg-[#F6F6F6] px-4 xl:px-0 py-16 flex justify-center">
        <div class="flex flex-col items-center w-[975px] text-center wow bounceIn">
            <h2 class="font-extrabold text-3xl xl:text-5xl">Газификация регионов</h2>
            <p class="my-5">
                Программа газификации в России действует с 2009 года, распространяется на 69 регионов страны. В 67
                регионах строительство газопроводов и подключение населения запланировано на 2021-2025 годы.
                <br>
                Прокладка газопроводов, за которой можно следить по онлайн-карте, является только одним из этапов
                газификации. Чтобы газ подвели к дому, необходимо строить газораспределительные станции, газопроводы на
                территории поселений и городов.
            </p>
            <a class="block bg-[#11405d] py-2 px-7 xl:py-4 xl:px-14 text-white hover:bg-[#208BB0] transition ease-in-out duration-150"
                href="{{ 'gasification' | app }} ">Подробнее</a>
        </div>
    </section>

    {% partial "Blocks/titleWithBg" name="amur" link="amur" title='Амурский ГПЗ' text="Новый газоперерабатывающий завод
    - один из крупнейших в мире" image="assets/images/amur-bg.png" | theme %}

    {% partial "Blocks/homeServices" items=servicesblock[3:] %}

    {% partial "Site/Footer" %}
    {% partial "Site/Scripts" %}
</body>

</html>