[staticMenu]
code = "main"
==

<footer class="bg-[#f6f6f6] text-center xl:text-left ">
    <div class="container mx-auto py-16 xl:flex justify-between">
        <div class="mb-5 xl:mb-0 flex flex-col items-center xl:block">
            <a {{ this.page.id !='index' ? 'href="/"'  }}>
                <img src="{{ 'assets/images/logo.svg' | theme }}" alt="logo" />
            </a>
            <div class="py-3.5">
                <p class="font-extrabold">
                    {% if activeRegion.phones %}
                        <div class="flex items-center">
                            {% for item in activeRegion.phones %}
                            <a title="{{ item.item }}" href="tel:{{ item.item | replace({' ': '', '-': '', '(': '', ')': ''}) }}" class="font-extrabold hover:text-[#11405d] mr-3">{{ item.item }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </p>
                <p class="text-sm">Круглосуточно</p>
            </div>
            <ul class="flex">
                <li>
                    <a href="{{ this.theme.whatsapp }}" target="_blank" name="WhatsApp"><img src="{{ 'assets/images/wa_icon.svg' | theme }}" alt="whatsapp" /></a>
                </li>
            </ul>
        </div>
        {% set count = staticMenu.menuItems | length / 2 %}
        {% for row in staticMenu.menuItems|batch(count, '') %}
            <ul class="hidden xl:block links leading-[32px]">
                {% for item in row %}
                    <li role="presentation" class="{{ item.viewBag.cssClass }}">
                        <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }} class="{{ item.isActive ? 'text-[#11405d] font-bold' }}">
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
    <p class="hidden sm:block bg-[#11405d] py-2.5 text-center text-sm text-white">
        Copyright © {{ 'now' | date('Y') }} ООО "Центральные Газовые Сети". Все права защищены.
    </p>
</footer>

<button type="button" x-data
@click="$dispatch('open-modal');
document.querySelector('#form_service').value = document.querySelector('#form_title').innerHTML = 'Обратный звонок'"
class="bottom-8 right-8 rounded-full transition-all hover:bg-[#208BB0] bg-[#11405d] fixed z-50 p-4 flex items-center justify-center shadow">
    <span class="animate-ping absolute inline-flex h-5/6 w-5/6 rounded-full bg-sky-400 opacity-75"></span>

    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#000000" viewBox="0 0 256 256">
        <rect width="256" height="256" fill="none"></rect>
        <path class="stroke-white" d="M92.5,124.8a83.6,83.6,0,0,0,39,38.9,8,8,0,0,0,7.9-.6l25-16.7a7.9,7.9,0,0,1,7.6-.7l46.8,20.1a7.9,7.9,0,0,1,4.8,8.3A48,48,0,0,1,176,216,136,136,0,0,1,40,80,48,48,0,0,1,81.9,32.4a7.9,7.9,0,0,1,8.3,4.8l20.1,46.9a8,8,0,0,1-.6,7.5L93,117A8,8,0,0,0,92.5,124.8Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
    </svg>
</button>

<div x-data="{ open: false }" @open-modal.window="open = $event.detail">
    <div x-cloak x-show="open"
        class="fixed top-0 left-0 w-full h-full bg-gray-500 bg-opacity-50 z-50 flex items-center justify-center">
        <div class="bg-white relative w-[90%] md:w-auto p-10 rounded shadow-md">
            <button class="menu_toogle text-[#11405d] text-3xl float-right" @click="open = ! open">✖</button>

            <h2 class="text-gray-900 text-lg mb-1 font-medium title-font" id="form_title">Обратная связь</h2>
			<p class="leading-relaxed mb-5 text-gray-600">Вы можете задать нам интересующий вас вопрос и мы обязательно вам ответим!</p>

			<form id="contact_form" x-data="contact_form" @submit.prevent="submit">
				<div class="bg-blue-500 p-4 fixed top-[20px] right-[20px] rounded-2xl text-white font-bold" x-transition:enter.duration.500ms x-show.transition="show" x-text="message"></div>
				{{ form_token() }}
				<div>
					<div class="rounded-3xl font-bold" x-transition:enter.duration.500ms x-text="message"></div>
					<div class="relative mb-4">
						<label for="name" class="leading-7 text-sm text-gray-600">Ваше имя</label>
						<input type="text" id="name" name="ФИО"
							class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
					</div>
					<div class="relative mb-4">
						<label for="email" class="leading-7 text-sm text-gray-600">E-mail</label>
						<input type="email" id="email" name="E-mail"
							class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
					</div>
                    <div class="relative mb-4">
						<label for="phone" class="leading-7 text-sm text-gray-600">Телефон</label>
						<input type="phone" id="phone" required name="Телефон"
							class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
					</div>
					<div class="relative mb-4">
						<label for="message" class="leading-7 text-sm text-gray-600">Сообщение</label>
						<textarea id="message" name="Сообщение"
							class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
					</div>
                    <input id="form_service" type="hidden" value="Обратная связь" name="Услуга">
					<button type="submit"
						class="block bg-[#11405d] py-2 px-7 xl:py-4 xl:px-14 text-white hover:bg-[#208BB0] transition ease-in-out duration-150">Отправить</button>
				</div>
			</form>
        </div>
    </div>
</div>