<section class="container mx-auto px-4 xl:px-0 xl:flex justify-between py-16 text-center" x-data>
    {% for item in items %}
        <div {{ url ? 'href="{{ url }}"' }} data-service="{{ item.name }}"
        @click="$dispatch('open-modal');
        document.querySelector('#form_service').value = document.querySelector('#form_title').innerHTML = $el.dataset.service;"
        class="cursor-pointer flex flex-col items-center xl:block xl:w-[370px] wow flipInY">
            <img src="{{ item.image }}" loading="lazy" alt="{{ item.name }}">
            <p class="block text-xl font-bold uppercase pt-4">
                {{ item.name }}
            </p>
        </div>
    {% endfor %}
</section>

<script>

</script>