[v-cloak]{
  display: none;
}

/* Buttons */
.buttonblock {
  text-align: center;
}

/* Common */
body {
  @extend %font;
  //font-size:14px;
  //line-height:22px;
  -webkit-font-smoothing: antialiased;
  max-width: 1920px;
  margin: auto;
  overflow-x: hidden;
  color: $color3;
  font-weight: 300;
  strong{
    font-weight: 600;
  }
}

p{
  @include fz(18,14,15,16,17);
  font-weight: normal;
  strong{
    font-weight: 600;
  }
}

li{
  @include fz(18,14,15,16,17);
  font-weight: normal;
}


/* Input */
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}
@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.uk-radio:checked, .uk-checkbox:checked, .uk-checkbox:indeterminate {
  background-color: $color-main;
  border-color: transparent;
}
.uk-radio:checked:focus, .uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus {
  background-color: darken($color-main, 7%);
}
.inp{
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 50px;
  &__input{
    @extend %font;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 52px;
    background: transparent;
    padding: 0 5px;
    &:focus + .inp__focus::after {
      top: -20px;
      font-size: 15px;
    }

    &:focus + .inp__focus::before {
      width: 100%;
    }
    &.has-val + .inp__focus::after {
      top: -20px;
      font-size: 15px;
    }

    &.has-val + .inp__focus::before {
      width: 100%;
    }
  }
  &__focus{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      transition: all 0.4s;
      background: #57b846;
    }
    &::after {
      font-size: 18px;
      color: #999999;
      line-height: 1.2;
      content: attr(data-placeholder);
      display: block;
      width: 100%;
      position: absolute;
      top: 15px;
      left: 0px;
      padding-left: 5px;

      transition: all 0.4s;
    }
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  color: inherit;
  //padding: 0;
  //margin: 0;
}

.uk-background-primary {
  background-color: rgba(#000, 0.8);
}

.uk-container {
  //max-width: $container-width + 70px;
}

a {
  transition: 0.3s;
}

.breadcrumbs{
  .uk-breadcrumb{
    margin: 30px 0 -44px;
    @include mq(md) {
      margin: 30px 0 -20px;
    }
  }
}

button {
  transition: 0.3s !important;
}

.uk-overlay-primary {
  background: rgba(25, 25, 25, 0.8);
  transition: 0.3s;
  &:hover {
    background: rgba(25, 25, 25, 0.7);
  }
}

input {
}

textarea {
}


/* Other */
.ya-share2 {
  display: inline-block;
  vertical-align: middle;
  li {
    margin-right: 10px !important;
  }
}

/* Confid */
.confid {
  margin-bottom: 10px;
  input[type=checkbox] {
    //width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0 !important;
  }
  label {
    width: 100%;
    display: block;
    text-align: center;
    a {
      font-size: 0.75em;
      color: #000;
      margin-left: 5px;
      text-decoration: underline;
    }
  }
  span {
    color: #000000;
    font-size: 0.75em;
    display: inline-block;
    margin-left: 3px;
    vertical-align: middle;
    text-align: left;
    max-width: 85%;
    line-height: 1;
    @include mq(sm) {
      font-size: 0.67em;
      max-width: 85%;
    }
  }
  .footer & {
    margin-bottom: 15px;
    span {
      color: #fff;
    }
    a {
      color: lighten($color-main, 20%);
      text-decoration: underline;
    }
  }
}

.uk-icon {
  >svg {
    &:nth-child(2) {
      display: none;
    }
  }
}

.loading{
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  //background-color: #090B1F;
  background-color: #ededed;
  z-index: 99999999;
  text-align: center;
  img{
    position: absolute;
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    //animation: load 3.7s infinite;
  }
}

@keyframes load {
  0% {
    transform: scale(0.2);
    //transform: scale(0.5);
  }
  50% {
    transform: scale(1);
    //transform: scale(1.5);
  }
  100% {
    transform: scale(0.5);
    //transform: scale(0.5);
  }
}


/* Anim */
.element-animation {
  animation: animationFrames linear 3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes animationFrames {
  0% {
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
  3% {
    transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }
  7% {
    transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }
  11% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  15% {
    transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }
  19% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  24% {
    transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }
  28% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  33% {
    transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }
  37% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  100% {
    transform: rotate(0deg) scaleX(1.2) scaleY(1.2);
  }
}

.whatsapp {
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 3;
  width: 60px;
  height: 60px;
  img {
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}


.uk-tab{
  a{
    font-weight: 500;
    color: #7d8992;
    text-transform: none;
    @include fz(18);
  }
  .uk-active{
    a{
      color: #262626;
      font-weight: bold;
      border-color: $color-main;
      border-width: 2px;
    }
  }
}