#buymodal2 {
    z-index: 999;
}

.swal-footer{
    text-align: center !important;
}

.swal-icon img {
    padding: 2rem !important;
}

.btnTinkoff {
    background: #ffdd2d;
    color: #000;
    &:hover {
        background: darken(#ffdd2d, 20%) !important;
    }
}

.roboKassaBtn {
    background: #1773ce;
    color: #fff;
    &:hover {
        background: darken(#1773ce, 20%) !important;
    }
}

.mt-20{
    margin-top: 20px;
}

.container_ref {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.left_ref {
    order: 1;
    flex-basis: 100%;
    img {
        margin: 0 auto;
    }
}

.right_ref {
    order: 2;
    flex-basis: 100%;
}

@media screen and (min-width:600px) {
    .container_ref {
        flex-wrap: nowrap;
    }
    .left_ref {
        order: 1;
        flex-basis: 50%;
    }

    .right_ref {
        order: 2;
    }
}

.buy__title a {
    color: #384650;
}

.buy .uk-button-text {
    background-color: #57b846;
    padding: 2px 10px;
    color: #fff;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow:none;
    &:hover{
        box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
        &::before{
            border: none;
        }
    }
    &::before{
        border: none;
    }
}

.alert .close {
    display: none;
}