/* Mixins */
// Media queries mixin
$small: 640px;
$medium: 960px;
$large: 1200px;
$xlarge: 1600px;

@mixin mq($media) {
  @if $media == sm {
    @media (max-width: $small) {
      @content;
    }
  } @else if $media == md {
    @media (max-width: $medium) {
      @content;
    }
  } @else if $media == lg {
    @media (max-width: $large) {
      @content;
    }
  } @else if $media == xlg {
    @media (max-width: $xlarge) {
      @content;
    }
  }
}

@mixin hov-darken($color, $percent: 15%, $color2:#fff){
  &:hover{
    color: $color2 !important;
    background-color: darken($color, $percent);
  }
}

@mixin hov-lighten($color, $percent: 15%, $color2:#fff){
  &:hover{
    color: $color2;
    background-color: lighten($color, $percent);
  }
}

@mixin bgc($file, $size: cover){
  background-image: url(../../assets/img/#{$file});
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin fz($size, $sm: $size, $md: $size, $lg: $size, $xlg: $size){
  font-size: #{$size}px;
  @include mq(xlg) {
    font-size: #{$xlg}px;
  }
  @include mq(lg) {
    font-size: #{$lg}px;
  }
  @include mq(md) {
    font-size: #{$md}px;
  }
  @include mq(sm) {
    font-size: #{$sm}px;
  }
}