<div class="buy">
	<h4>Доступно для покупки</h4>
	{% if products | length > 0 %}
		{% for product in products %}
			{% partial "catalog/product_item" product=product %}
		{% endfor %}
	{% else %}
		<p>Вы купили всё что у нас было на этом сайте. Можем предложить
			<a class="uk-button uk-button-text" href="http://saleplan.ru" target="_blank">купить какую-нибудь франшизу</a>.
		</p>
	{% endif %}

	{% if(obUser.role.role.is_final == 0) %}
		<h4>Статусы и Возможности</h4>
		<div class="cabprods__messages flashmes" :class="flashmes.type">{{ flashmes.message }}</div>
		<ul class="cabprods__items">
			{% for role in roles if role.id != obUser.role.role.id %}
				<li class="buy__item cabprods__item">

					<div class="buy__wrp cabprods__wrap">
						<div class="cabprods__desc">
							<div class="buy__title cabprods__title">{{ role.title }}</div>
							<div class="buy__desc cabprods__desc">{{ role.desc | raw }}</div>
						</div>

						<div class="cabprods__priceblock">
							<div class="buy__price cabprods__price">{{ role.price }} руб</div>
							<div class="buy__button cabprods__button">

								{% if role.is_final %}
									<button class="uk-button uk-button-primary" v-if="!franch.buy" @click="franch.buy = !franch.buy">Купить</button>
									<div class="cabprods__mails" v-else>
										<span>Введите email для нового аккаунта</span>
										<input class="uk-input" type="text" v-model="franch.email" placeholder="Введите email">
										<input v-if="franch.email" class="uk-input" type="text" v-model="franch.re_email" placeholder="Повторите email">
										<a v-if="franch.email && franch.email == franch.re_email" href="#" class="uk-button uk-button-primary" data-request="onBuyStatus"
										   data-request-confirm="Вы хотите приобрести этот статус?"
										   :data-request-data="'id:{{ role.id }}, email:\'' + franch.email + '\' , backurl:' + '\'{{ url('/account/check') }}' + '\''"
										   data-request-success=""
										>Проверить и оплатить</a>
									</div>
								{% else %}
									<a class="uk-button uk-button-primary" data-request="onBuyStatus"
									   data-request-confirm="Вы хотите купить этот статус?"
									   data-request-data="id:{{ role.id }}, backurl:'{{ url('/account/check') }}'"
									   data-request-success=""
									>Купить</a>
								{% endif %}
							</div>
						</div>

					</div>


				</li>
			{% endfor %}
		</ul>
	{% endif %}

</div>