<div class="buy">
	<h4>Ваши покупки</h4>
	{% for ch in payments.products if payments.products | length > 0 %}
		<div class="cabprods__attention {{ ch.type }}">
			{{ ch.product }}
			<small>{{ ch.message }}</small>
		</div>
	{% endfor %}
	{% for ch in payments.roles if payments.roles | length > 0 %}
		<div class="cabprods__attention {{ ch.type }}">
			Статус {{ ch.product }}
			<small>{{ ch.message }}</small>
		</div>
	{% endfor %}

	{% for role in obUser.roles if role.pivot.pay_url %}
		<div class="buy__item cabprods__item">
			<div class="buy__title cabprod__title">Статус {{ role.title }} - {{ role.pivot.status }}</div>
			<div class="cabprod__link">
				{% if(role.pivot.status == 'WAITING' and role.pivot.pay_url) %}
					<a class="uk-button uk-button-text" href="{{ role.pivot.pay_url }}">Завершить оплату</a>
				{% endif %}
			</div>
		</div>
	{% endfor %}


	{% if obUser.products | length > 0 %}
		{% for product in obUser.products %}

			<div class="buy__item">
				<div class="buy__title">{{ product.title }}
					<small>{{ product.intro }}</small>
					{% if product.pivot.title %} Промокод: {{ product.pivot.title }}%{% endif %}
				</div>
				<div class="buy__right">
					<div class="buy__price">{{ product.pivot.price }} ₽</div>
					{% if product.pivot.paid == 0 %}
						<div class="buy__date">Статус платежа: обрабатывается</div>
					{% endif %}
					{% if product.pivot.payment_at %}
						<div class="buy__date">Дата покупки: {{ product.pivot.payment_at }}</div>
					{% endif %}
					{% if((product.pivot.status == 'waiting' and product.pivot.pay_url) or (product.pivot.status == 'WAITING' and product.pivot.pay_url)) %}
						<div class="uk-text-right">
							<a class="uk-button uk-button-text" href="{{ product.pivot.pay_url }}">Завершить оплату</a>
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>Вы еще не сделали ни одной покупки</p>
	{% endif %}
</div>