<div class="transacts">
	<h4>Операции</h4>
	<transactions></transactions>
	{#<ul class="transacts__items">
		{% if transactions | length > 0 %}
			{% for tr in transactions %}
				<li class="transacts__item">
					<div class="transacts__name">
						Транзакция от: {{ tr.user_name }}
						<small>{{ tr.product_title }}</small>
					</div>
					<div class="transacts__sum">
						{{ tr.total }} ₽
						<small>
							Дата: {{ tr.created_at }}
						</small>
					</div>
				</li>
			{% endfor %}
		{% else %}
			<p>У вас пока нет поступлений</p>
		{% endif %}
	</ul>#}
</div>