<footer class="footer">
    <div class="uk-container">
        <p>2019 Клуб Здорового Мышления</p>
        <p><a href="/storage/app/media/files/politika-v-otnoshenii-obrabotki-personalnykh-dannykh.docx">Политика Конфиденциальности</a> / <a href="/storage/app/media/files/polzovatelskoe-soglashenie.docx">Пользовательское соглашение</a></p>
        <p>
            ИП СКОБЕЛЬЦЫН ОЛЕГ АЛЕКСАНДРОВИЧ<br>
            ИНН 166106307700<br>
            Юр. Адрес: 420127 Казань ул.Ак.Павлова 15-86
        </p>
    </div>
</footer>