<section class="uk-section mk-mainblock">
	<div class="uk-container">
		{% partial 'pages/inc/_headline' %}
		<ul class="uk-grid-match" uk-grid>
			<li class="uk-width-3-5@s">
				<div>
					<!--<div class="mk-mainblock__pre">ОФФЛАЙН ТРЕНИНГ</div>-->
					<h1>
						{% if hdr %}
							{% for t in headers if t.url == hdr %}
								{{ t.title | raw }}
							{% else %}
								{{ main_title | raw }}
							{% endfor %}
						{% else %}
							{{ main_title | raw }}
						{% endif %}
					</h1>
					<div class="mk-mainblock__content">
						{{ main_intro |raw }}
						{#<p>Что <strong>ВАЖНО</strong> знать что бы:</p>
						<ul>
							<li>денег всегда хватало,</li>
							<li>почувствовать себя счастливым,</li>
							<li>перестать болеть и жаловаться на жизнь</li>
						</ul>#}
					</div>
					<div class="mk-mainblock__outro"><span>Место проведения:</span> {{ place }}</div>
					<div class="mk-mainblock__buttons">
						<a class="uk-button uk-button-primary" href="/webinar">ЗАПИСАТЬСЯ НА БЕСПЛАТНЫЙ ВЕБИНАР</a>
						<a class="uk-button uk-button-primary uk-button-primary--danger" uk-toggle="target: #cancelmodal">ОТКАЗАТЬСЯ ОТ ИЗМЕНЕНИЙ</a>
					</div>
				</div>
			</li>
			<li class="uk-width-2-5@s">
				<div></div>
			</li>
		</ul>

	</div>
</section>