<section class="uk-section mk_author">
	<div class="uk-container">
		<h1>ВЕДУЩИЙ ТРЕНИНГА</h1>
		<div class="mk_author__content">
			<div class="mk_author__left">
				<div class="fs_authors__img">
					<img src="{{ author_img | media }}" alt="">
				</div>
				<div class="fs_authors__name">{{ author_name }}
					<small>{{ author_podp }}</small>
				</div>
				<ul class="fs_authors__social">
					<li><a href="https://instagram.com/oleg_skobeltsyn?r=nametag"><img src="{{ 'assets/img/insta.svg' | theme }}" alt=""></a></li>
					<li><a href="https://vk.com/oleg_skobeltsyn"><img src="{{ 'assets/img/vk.svg' | theme }}" alt=""></a></li>
					<li><a href="https://t.me/skdengi"><img src="{{ 'assets/img/telegram.svg' | theme }}" alt=""></a></li>
				</ul>
			</div>
			<div class="fs_authors__item">
				<div class="fs_authors__content">
					{{ author_desc | raw }}
				</div>
			</div>
		</div>
	</div>
</section>