<section class="uk-section fs-know">
	<div class="uk-container uk-position-relative">
		<h1>Что вы узнаете на 1 ступени</h1>
		<ul class="uk-grid-match" uk-grid>
			<li class="uk-width-1-3@s">
				<div class="uk-position-relative">
					<div class="fs-know__img1" uk-parallax="x: 30">
						<img src="{{ 'assets/img/know-img.svg' | theme }}" alt="">
					</div>
					<div class="fs-know__img2" uk-parallax="x: -30">
						<img src="{{ 'assets/img/cl-bg3.svg' | theme }}" alt="">
					</div>
				</div>
			</li>
			<li class="uk-width-2-3@s">
				<div class="fs-know__right">
					<div class="fs-know__wrap">
						<div class="fs-know__know">{{ know1 }}</div>
						<div class="fs-know__know">{{ know2 }}</div>
					</div>
					<h2>ТЫ УЗНАЕШЬ ПРИЧИНЫ:</h2>
					<ul class="uk-child-width-1-3@s uk-grid-match uk-grid-medium" uk-grid>
						{% for know in knows %}
							<li>
								<div class="fs-know__item">
									{{ know.title }}
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</li>
		</ul>
		<div class="fs-know__outro">
			<p>Это причина и возможность стать действительно счастливым человеком не только потому что у тебя появятся деньги, а еще и потому что у тебя появится УДОВЛЕТВОРЕННОСТЬ жизнью!</p>
			<p>
				<strong>Поэтому берите с собой партнера по жизни или по бизнесу и трансформируйте свою жизнь и бизнес вместе прямо сейчас!</strong>
			</p>
			<div class="fs-know__button">
				<a href="#price" class="uk-button uk-button-primary" uk-scroll>ХОЧУ ТРАНСФОРМИРОВАТЬ СВОЮ ЖИЗНЬ И БИЗНЕС</a>
			</div>
		</div>
		<div class="fs-know__img3" uk-parallax="x: -50">
			<img src="{{ 'assets/img/gayka.svg' | theme }}" alt="">
		</div>
	</div>
</section>