<div class="fs_authors" uk-parallax="bgx: -500">
	<div class="uk-container">
		<h2>АВТОРЫ И ОСНОВАТЕЛИ</h2>
		<ul class="uk-child-width-1-3@s uk-grid-match" uk-grid>
			{% for author in authors %}
				<li>
					<div class="fs_authors__item">
						<div class="fs_authors__img">
							<img src="{{ author.image | media }}" alt="">
						</div>
						<div class="fs_authors__name">{{ author.title }} <small>{{ author.podp }}</small></div>
						<ul class="fs_authors__social">
							<li><a href=""><img src="{{ 'assets/img/insta.svg' | theme }}" alt=""></a></li>
							<li><a href=""><img src="{{ 'assets/img/vk.svg' | theme }}" alt=""></a></li>
						</ul>
						<div class="fs_authors__content">
							{{ author.desc | raw }}
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>