<section class="uk-section mainblock">
	<div class="uk-container">
		{% partial 'pages/inc/_headline.htm' %}
		<ul class="uk-grid-match" uk-grid>
			<li class="uk-width-3-5@s">
				<div>
					<div class="mainblock__intro" uk-scrollspy="cls:uk-animation-fade">1 СТУПЕНЬ. СПЕЦКУРС</div>
					<h1 uk-scrollspy="cls:uk-animation-fade;delay:100">6 шагов развития эмоционального<br>интеллекта</h1>
					<div class="mainblock__podp">Продолжительность: 3 часа</div>
					<div class="mainblock__img3 uk-hidden@s">
						<img src="{{ 'assets/img/fs-mainimg1.svg' | theme }}" alt="">
					</div>
					<div class="mainblock__outro">Побывав на этом тренинге ты уже никогда не будешь прежним! <br class="uk-visible@m">Вступай в наш клуб и покупай билет в кроличью нору.</div>
					<div class="mainblock__button">
						<a href="#price" class="uk-button uk-button-primary" uk-scroll>КУПИТЬ БИЛЕТ В КРОЛИЧЬЮ НОРУ</a>
						{#<a href="{{ url('/register') }}" class="uk-button uk-button-primary">КУПИТЬ БИЛЕТ В КРОЛИЧЬЮ НОРУ</a>#}
					</div>
				</div>
			</li>
			<li class="uk-width-2-5@s uk-visible@s">
				<div class="uk-position-relative">
					<div class="mainblock__img1" uk-parallax="x: -30;media: @s">
						<img src="{{ 'assets/img/fs-mainimg1.svg' | theme }}" alt="">
					</div>
					<div class="mainblock__img2" uk-parallax="x: 30;media: @s">
						<img src="{{ 'assets/img/fs-mainimg2.svg' | theme }}" alt="">
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>