<section class="uk-section fs_about">
	<div class="uk-container">
		<ul class="uk-grid-match" uk-grid>
			<li class="uk-width-1-2@s uk-visible@s">
				<div class="uk-position-relative">
					<div class="fs_about__img1" uk-parallax="x: 30;media: @s">
						<img src="{{ 'assets/img/fs-aboutimg1.svg' | theme }}" alt="">
					</div>
					<div class="fs_about__img2" uk-parallax="x: -30;media: @s">
						<img src="{{ 'assets/img/fs-aboutimg2.svg' | theme }}" alt="">
					</div>
				</div>
			</li>
			<li class="uk-width-1-2@s">
				<div>
					<h1 uk-scrollspy="cls:uk-animation-slide-right">О чем это вообще...</h1>
					<div class="fs_about__img3 uk-hidden@s">
						<img src="{{ 'assets/img/fs-aboutimg1.svg' | theme }}" alt="">
					</div>
					<div class="fs_about__content">
						{{ mp_about | raw }}
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>