{% partial 'pages/inc/_mk_mainblock' %}

<section class="uk-section slide slide1">
	<div class="uk-container">
		<h1>74% СКАНДАЛОВ<br>
		    И РАЗВОДОВ
			<small>ИЗ-ЗА ДЕНЕГ!</small>
		</h1>
		<div class="slide1__images">
			<img class="slide1__img1" uk-parallax="x: 40" src="{{ 'assets/img/slide1-img1.png' | theme }}" alt="">
			<img class="slide1__img2" uk-parallax="x: -40" src="{{ 'assets/img/slide1-img2.png' | theme }}" alt="">
		</div>
		<h2>Как это изменить?</h2>
		<div class="slide__buttons">
			<a class="uk-button uk-button-primary" href="/webinar">ЗАПИСАТЬСЯ НА БЕСПЛАТНЫЙ ВЕБИНАР</a>
		</div>
	</div>
</section>

<section class="uk-section slide slide2">
	<div class="uk-container">
		<h1>62% БОЛЕЗНЕЙ
			<small>ИЗ ЗА СТРЕССОВ<br>
			       И СКАНДАЛОВ
			</small>
		</h1>
		<div class="slide2__images">
			<img class="slide2__img1" uk-parallax="x: 30" src="{{ 'assets/img/slide2-img1.png' | theme }}" alt="">
		</div>
		<h2>Как перестать болеть?</h2>
		<div class="slide__buttons">
			<a class="uk-button uk-button-primary" href="/webinar">ЗАПИСАТЬСЯ НА БЕСПЛАТНЫЙ ВЕБИНАР</a>
			<a class="uk-button uk-button-primary uk-button-primary--danger" uk-toggle="target: #cancelmodal">ОТКАЗАТЬСЯ ОТ ИЗМЕНЕНИЙ</a>
		</div>
	</div>
</section>

<section class="uk-section slide slide3">
	<div class="uk-container">
		<h1>ДЕНЬГИ</h1>
		<div class="slide3__images">
			<img class="slide3__img1" src="{{ 'assets/img/slide3-img1.png' | theme }}" alt="">
		</div>
		<div class="slide3__content">
			<ul>
				<li>Почему их вечно нехватает?</li>
				<li>Почему живешь в кредитах?</li>
				<li>Почему если даже приходят, то быстро исчезают?</li>
				<li>Почему если работаешь больше, то денег больше не становится?</li>
			</ul>
		</div>
		<h2>От чего на самом деле зависит<br>
		    твой финансовый успех?</h2>
		<div class="slide__buttons">
			<a class="uk-button uk-button-primary" href="/webinar">ЗАПИСАТЬСЯ НА БЕСПЛАТНЫЙ ВЕБИНАР</a>
			<a class="uk-button uk-button-primary uk-button-primary--danger" uk-toggle="target: #cancelmodal">ОТКАЗАТЬСЯ ОТ ИЗМЕНЕНИЙ</a>
		</div>
	</div>
</section>

<section class="uk-section slide slide4">
	<div class="uk-container">
		<div class="slide__pre">боишься идти на<br>
		                        тренинг потому что<br>
		                        люди подумают что ты в жопе?
		</div>
		<div class="slide4__img">
			<img class="slide4__img1" src="{{ 'assets/img/slide4-img1.png' | theme }}" alt="">
		</div>
		<h1>ОК, ПОДОЖДИ ЕЩЕ...</h1>
		<div class="slide__buttons">
			<a class="uk-button uk-button-primary" href="/webinar">ЗАПИСАТЬСЯ НА БЕСПЛАТНЫЙ ВЕБИНАР</a>
			<a class="uk-button uk-button-primary uk-button-primary--danger" uk-toggle="target: #cancelmodal">ОТКАЗАТЬСЯ ОТ ИЗМЕНЕНИЙ</a>
		</div>
	</div>
</section>

<section class="uk-section slide slide5">
	<div class="uk-container">
		<div class="slide__pre">Считаешь что у тебя все хорошо<br>
		                        и нечего менять?
		</div>
		<div class="slide5__img">
			<img class="slide5__img1" src="{{ 'assets/img/slide5-img1.png' | theme }}" alt="">
		</div>
		<h1>ОК, ПРОХОДИ МИМО<br>
			<span class="color">ТЕХНОЛОГИИ</span>,<br>
		    КОТОРАЯ<br>
		    МОЖЕТ СДЕЛАТЬ<br>
		    ТВОЮ ЖИЗНЬ<br>
			<span class="size">ЛУЧШЕ</span></h1>
		<div class="slide__buttons">
			<a class="uk-button uk-button-primary" href="/webinar">ЗАПИСАТЬСЯ НА БЕСПЛАТНЫЙ ВЕБИНАР</a>
			<a class="uk-button uk-button-primary uk-button-primary--danger" uk-toggle="target: #cancelmodal">ОТКАЗАТЬСЯ ОТ ИЗМЕНЕНИЙ</a>
		</div>
	</div>
</section>

<section class="uk-section slide slide6">
	<div class="uk-container">
		<ul class="uk-grid-match" uk-grid>
			<li class="uk-width-1-3@m">
				<div>
					<div class="slide6__img">
						<img class="slide6__img1" src="{{ 'assets/img/slide6-img1.png' | theme }}" alt="">
					</div>
				</div>
			</li>
			<li class="uk-width-2-3@m">
				<div>
					<h1>
						<small>не идешь на<br>
						       тренинг потому что
						</small>
						<span>НЕТ ВРЕМЕНИ?</span>
					</h1>
					<h2>ок, подожди еще,<br>
					    времени станет еще меньше</h2>
					<div class="slide__buttons">
						<a class="uk-button uk-button-primary" href="/webinar">ЗАПИСАТЬСЯ НА БЕСПЛАТНЫЙ ВЕБИНАР</a>
						<a class="uk-button uk-button-primary uk-button-primary--danger" uk-toggle="target: #cancelmodal">ОТКАЗАТЬСЯ ОТ ИЗМЕНЕНИЙ</a>
					</div>
				</div>
			</li>
		</ul>

	</div>
</section>


{% partial 'pages/inc/_mk_author' %}
{% partial 'pages/inc/_mk_otz.htm' %}
{% partial 'pages/inc/_mp_gallery.htm' %}
{% partial 'pages/inc/_footer.htm' %}

{#<buy-modal2 :buymodal="paymodal" :times="{{ times | json_encode }}" :product="{{ product | json_encode }}"></buy-modal2> #}

<div id="cancelmodal" uk-modal="">
	<div class="uk-modal-dialog uk-modal-body">
		<button class="uk-modal-close-default" type="button"><span uk-icon="close"></span></button>
		<h2 class="uk-modal-title">Отлично!</h2>
		<p class="uk-text-center">Мы очень рады что у тебя все аспекты жизни
		                          в идеальном состоянии! На тренинге ты получишь технологию
		                          изменения трех сфер жизни
		                          (деньги, отношения, здоровье)
		                          и возможность помогать другим,
		                          а так же <span>зарабатывать деньги помогая людям.</span></p>
								  <a class="uk-button uk-button-primary" href="/webinar">ЗАПИСАТЬСЯ НА БЕСПЛАТНЫЙ ВЕБИНАР</a>
	</div>
</div>