description = "Шаблон аккаунта"

[viewBag]

[UserData]

[staticPage]
useContent = 1
default = 0

[staticMenu mainMenu]
code = "mainmenu"

[AppComponent]
==
<?php
function onStart(){
$this['obUser'] = $this->UserData->get();
$this['url'] = $this->page->id;
//dd($this['obUser']);
//dump($this['obUser']);
}
?>
==
{# HEAD #}
{% partial 'system/head.htm' %}

{# ==== Variables ====== #}


{# Content #}
{#{% partial 'site/headline.htm' %}#}

<section class="account">
	<div class="account__content">
		<h1>{{ this.page.title }}</h1>
		<div class="account__small">Партнерская программа клуба Здоровое Мышление</div>
		{% page %}
	</div>
</section>

{% partial 'site/footer.htm' %}




{# HEAD #}
{% partial 'system/foot.htm' %}