description = "Шаблон мастер-класса"

[viewBag]

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "mainmenu"

[UserData]

[AppComponent]
==
<?php
function onStart(){
$user = $this->UserData->get();
$this['obUser'] = $user;
$this['hdr'] = isset($_GET['hdr']) ? $_GET['hdr'] : '';
//$this->AppComponent->test();
$prod = $this->page->apiBag['staticPage']['settings']['components']['viewBag']['kurs'];
$this['product'] = $this->AppComponent->getProduct($prod);
}
?>
==
{# HEAD #}
{% partial 'system/head.htm' %}

{# ==== Variables ====== #}
{#Main vars#}
{variable name="main_title" label="Основной заголовок" tab="Основное" type="text"}{/variable}
{variable name="main_intro" label="Вступление на главной" tab="Основное" type="richeditor"}{/variable}
{variable name="place" label="Место проведения" tab="Основное" type="text"}{/variable}
{variable name="kurs" label="Код курса" tab="Основное" type="text"}{/variable}
{repeater name="times" tab="Основное" prompt="Добавить время проведения" }
{variable name="time" label="Число/День/Время проведения" type="text"}{/variable}
{variable name="tickets" label="Билетов продано" type="text"}{/variable}
{variable name="places" label="Мест осталось" type="text"}{/variable}
{variable name="is_active" label="Запретить продажу на это число" type="checkbox"}{/variable}
{/repeater}
{repeater name="headers" tab="Варианты заголовков" prompt="Добавить вариант заголовка" }
{variable name="title" label="Заголовок" type="text"}{/variable}
{variable name="sub_title" label="Подзаголовок" type="text"}{/variable}
{variable name="url" label="Параметр в адресе" type="text"}{/variable}
{/repeater}


{# Authors #}
{variable name="author_img" label="Фото автора 1" tab="Авторы" type="mediafinder" mode="image"}{/variable}
{variable name="author_name" label="Имя автора 1" tab="Авторы" type="text"}{/variable}
{variable name="author_podp" label="Подпись автора 1" tab="Авторы" type="text"}{/variable}
{variable name="author_desc" label="Описание автора 1" tab="Авторы" type="richeditor"}{/variable}

{# OTZ #}
{repeater name="videos" tab="Видео отзывы" prompt="Добавить еще" }
{variable name="title" label="Ссылка" type="text"}{/variable}
{/repeater}

{#Gallery#}
{repeater name="gallery" tab="Галерея" prompt="Добавить еще" }
{variable name="image" label="Картинка" type="mediafinder" mode="image"}{/variable}
{/repeater}

{# Content #}
{% partial 'pages/mk.htm' %}





{# HEAD #}
{% partial 'system/foot.htm' %}