description = "Шаблон тарифов"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "mainmenu"

[UserData]

[AppComponent]
==
<?php
use Chronos\App\Models\Product;

function onStart(){
	$user = $this->UserData->get();
	$this['obUser'] = $user;
	$this['products'] = Product::isWebinar(false)->get();
}
?>
==
{# HEAD #}
{% partial 'system/head.htm' %}

{# ==== Variables ====== #}


{# Content #}
<section class="uk-section tarifs">
	<div class="uk-container">
		{% partial 'pages/inc/_headline' %}
		<h1>{{ page.title }}</h1>
		<div class="tarifs__intro">{% page %}</div>
		<ul class="uk-child-width-1-1@m uk-grid-match" uk-grid>
			{% for prod in products %}
				<li>
					<div class="tarifs__item">
						<div class="tarifs__wrap">
							<div class="tarifs__content">
								<h2><a href="{{ url('/tarifs') }}/{{ prod.slug }}">{{ prod.title }}</a></h2>
								<div class="tarifs__intro">{{ prod.intro | raw }}</div>

								<div class="tarifs__readmore">
									<a class="uk-button uk-button-text" href="{{ url('/tarifs') }}/{{ prod.slug }}">Читать подробное описание</a>
								</div>
								{#<ul uk-accordion>
									<li>
										<a class="uk-accordion-title" href="#">Подробное описание</a>
										<div class="uk-accordion-content">
											<div class="tarifs__desc">{{ prod.desc | raw }}</div>
										</div>
									</li>
								</ul>#}
							</div>
							<div class="tarifs__footer">
								<div class="tarifs__price">
									<small>Стоимость:</small>{{ prod.price }}</div>
								<div class="tarifs__button">
									{% if (obUser) %}										
										{% if prod.link %}
											<a href="{{ prod.link }}" class="uk-button uk-button-primary" target="_blank">КУПИТЬ</a>
										{% endif %}
									{% else %}
										<a href="" class="uk-button uk-button-primary" @click="document.getElementById('onModalRegisterForm').setAttribute('data-request-redirect', '{{ prod.link }}')" uk-toggle="target: #ModalRegister">КУПИТЬ</a>
									{% endif %}
									{#<a href="" class="uk-button uk-button-primary" @click="buymodal(1, '{{ prod.code }}', 'КУПИТЬ', {{ prod | json_encode }})" uk-toggle="target: #buymodal2">КУПИТЬ</a>#}
								</div>
							</div>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

{# <buy-modal2 :buymodal="paymodal" :product="paymodal.product"></buy-modal2> #}

{# HEAD #}
{% partial 'system/foot.htm' %}