.blog {
}

.breadcrumbs{
  border-bottom: 1px solid #ebeef2;
  padding-bottom: 15px;
  margin-bottom: 30px;
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    list-style: none;
    display: inline-block;
    @include fz(14);
    font-weight: normal;
    &:after{
      content: "";
      @include bgc('ico-bc.svg');
      background-size: contain;
      width: 9px;
      height: 9px;
      position: relative;
      display: inline-block;
      margin: 0 7px;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
    a{
      color: $color3;
    }
  }
}

.blog_headline {
  background-color: $color3;
  padding: 15px 0;
  color: #ffffff;
  margin-bottom: 20px;
  .uk-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(sm) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  p{
    margin: 0 auto 0 0;
    @include mq(sm) {
      strong{
        display: block;
      }
      margin: 0 auto 10px;
      text-align: center;
    }
  }
  button{
    margin-left: auto;
  }
}

.blog_list{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }

  &__wrap{
    @include mq(sm) {
      width:100%;
    }
  }
  &__item{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    &:last-child{
      margin-bottom: 0;
    }
    @include mq(sm) {
      flex-direction: column;
    }
  }
  &__img{
    flex-basis: 15%;
    margin-right: 30px;
    @include mq(sm) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  &__title{
    @include fz(26,22,23,24,25);
    font-weight: bold;
    margin-bottom: 10px;
    a{
      color: inherit;
    }
  }
  &__intro{
    @include fz(16, 14,15,15,15);
    font-weight: normal;
    margin-bottom: 10px;
  }

  &__footer{
    display: flex;
    align-items: center;
    a{
      @include fz(18, 14);
      font-weight: 600;
      color: $color-main;
      margin-right: 20px;
    }

  }
  &__date{
    @include fz(14);
    font-weight: 500;
    color: #b4b4b4;
    img{
      margin-right: 5px;
    }
  }
}


.uk-pagination{
  justify-content: center;
  a{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid $color3;
    justify-content: center;
    align-items: center;
    display: flex;
    color: $color3;
    span{
      color: $color3;
      line-height: 1;
    }
  }
  .uk-active{
    a{
      background-color: $color3;
      span{
        color: #ffffff;
      }
    }
  }
}


.article {
  padding-bottom: 30px;
  border-bottom: 1px solid #ebeef2;
  &__title {
    @include fz(38, 30, 31, 32, 33);
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__intro {
    @include fz(22, 18, 19, 20, 21);
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__image{
    max-width:450px;
    margin-bottom: 20px;
  }
  &__content{
    p{
      margin: 7px 0;
    }
    p, li{
      @include fz(16, 13, 14, 15, 16);
    }
  }
  &__video{
    margin-bottom: 20px;
    iframe{
      max-width:100%;
    }
  }
  .tarifs__footer{
    @include mq(sm) {
      margin-bottom: 30px;
    }
  }
}
.ya-share2{
  margin: 10px 0 30px;
}