.buymodal{
  &__podp{
    text-align: center;
    margin-bottom: 20px;
  }
  &__subtitle{
    text-align: center;
    font-weight: bold;
  }
  &__price{
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    span{
      font-weight: 900;
      font-size: 1.6em;
      color: $color-main;
      vertical-align: middle;
      @include mq(sm) {
        display: block;
      }
    }
  }
  &__mest{
    margin-bottom: 20px;
    & > div{
      display: flex;
      justify-content: center;
    }
    p{
      margin: 2px 10px;
      text-align: center;
      span{
        font-weight: 900;
        color: $color-main;
        font-size: 1.6em;
        vertical-align: middle;
      }
    }
    .noactive{
      font-weight: bold;
      color: #DE3F18;
    }
  }
  &__link{
    margin: 5px 0 15px;
    text-align: center;
    display: flex;
    input{
      margin: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      @include mq(sm) {
        font-size:14px;
      }
    }
    button{
      outline: none;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border: none;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      box-sizing: border-box;
      padding:5px 20px;
      color: #fff;
      background-color: $color-main;
      @include fz(18,14,15,16,17);
      font-weight: normal;
      @extend .anibutton;
      flex-basis: 30%;
      transition: 0.3s;
      flex-shrink: 0;
      @include mq(sm) {
        padding:5px 10px;
        flex-basis: 35%;
      }
      &:hover{
        background-color: darken($color-main, 10%);
      }
    }
    /*a{
      color: $color-main;
      text-decoration: none;
      border-bottom:1px dashed;
      &:hover{
        border-bottom: none;
      }
    }*/
  }

  &__local{
    max-width:500px;
    input{
      margin-bottom: 10px;
    }
  }

  &__warning{
    position: fixed;
    z-index:999;
    color: #ffe000;
    max-width:500px;
    margin: auto;
    bottom: 0;
    text-align: center;
    background: rgba(#000, 0.4);
    padding: 30px;
    small{
      display: block;
      line-height: 1.3;
      color: #fff;
    }
  }
}