.buy{
  padding-top: 30px;
  &__item{
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
    @include mq(sm) {
      flex-wrap: wrap;
    }
  }
  &__desc{
    p{
      @include fz(14);
      font-weight: normal;
      margin: 7px 0;
    }
  }
  &__right{
    flex-shrink: 0;
    margin-left: 20px;
    @include mq(sm) {
      margin-left: 0;
    }
  }
  &__title{
    @include fz(18,14,15,16,17);
    font-weight: bold;
    small{
      display: block;
      @include fz(16,13,14,15,16);
      font-weight: normal;
    }
  }
  &__price{
    text-align: right;
    color: $color-main;
    @include fz(26,20,21,22,23);
    font-weight: 500;
    margin-bottom: 5px;
    small{
      font-size: 0.6em;
    }
  }
  /*p{
    @include fz(18,14,15,16,17);
    font-weight: normal;
  }*/
  &__button{
    text-align: right;
    a{
      height: 30px;
      @include fz(16,13,14,15,16);
      font-weight: normal;
    }
  }

  &__promocode{
    margin-top: 20px;
    button{
      flex-basis: auto;
    }
  }
  &__discount{
    text-align: right;
    color: #d40000;
    font-weight: bold;
    small{
      color: #000;
      font-weight:normal;
    }
  }
  del{
    color: #d40000;
    font-size: 0.7em;
  }
}

.cabprods{
  &__items{
    margin: 0;
    padding: 0;
  }
  &__wrap{
    display: flex;
  }
  &__priceblock{
    flex-basis: 40%;
    margin-left: 30px;
  }
  &__button{
    a{
      margin-top: 20px;
      height: 35px;
    }
  }
  &__item{

  }
  &__attention{
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 25px;
    font-weight: bold;
    margin: 20px 0;
    small{
      display: block;
      font-weight: normal;
    }
    &.error{
      color: red;
      border-color: red;
    }
    &.warning{
      color: #ff9b61;
      border-color: #ff9b61;
    }
    &.success{
      color: green;
      border-color: green;
    }
  }
}