.cabinet {
  padding-top: 0;
  &__title {
    text-align: center;
    background-color: $color-main;
    padding: 10px;
    color: #ffffff;
    @include fz(18);
    font-weight: 600;
  }
  
  .uk-tab{
    a{
      @include fz(18,14,15,16,17);
      font-weight: normal;
    }
  }

  &__head {
    background-color: #fafafa;
    padding: 15px;
    margin-bottom: 30px;
    .uk-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include mq(sm) {
        flex-wrap: wrap;
      }
    }
  }
  &__totl{
    //margin-left: 30px;
  }

  &__reverse{
    display: flex;
    align-items: center;
    a{
      text-decoration: none !important;
      border-bottom: 1px solid #57b846;
      color: #384650;
      font-weight: bold !important;
    }
  }

  &__now{
    margin: 0 30px;
  }

  &__balance {
    @include fz(37, 28);
    font-weight: 500;
    color: #2e2e2e;
    margin-right: auto;
    display: flex;
    small {
      color: #7d8992;
      display: block;
      @include fz(16, 13, 14, 15, 16);
    }
    a{
      @include fz(18,14,15,16,17);
      font-weight: normal;
      display: block;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }

  &__user {
    @include fz(18);
    font-weight: bold;
    padding-bottom: 7px;
    margin-right: 15px;
    text-align: right;
    @include mq(sm) {
      text-align: left;
    }
    span{
      display: block;
      padding-bottom: 2px;
      border-bottom: 1px solid $color-main;
    }
    small{
      font-weight:normal;
      display: block;
      margin-top: 5px;
    }
  }
  &__ico {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $color-main;
    box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    box-sizing: border-box;
    //padding: 10px;
    transition: 0.3s;
    &:hover {
      background-color: darken($color-main, 10%);
      box-shadow: 0 0 20px 0px rgba(87, 184, 70, 0.5);
    }
    img {
      position: relative;
      width: 50%;
      height: 50%;
    }
    &--1 {
      img {
        width: 40%;
        height: 40%;
      }
    }
    &--2 {
      img {
        left: 1px;
      }
    }
    &--3 {
      img {
        left: 3px;
      }
    }
  }
  &__nav {
    display: flex;
    align-content: center;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0 0 0 20px;
      display: flex;
      align-items: center;
      @include mq(sm) {
        margin:10px 0 0;
      }
    }

    @include mq(sm) {
      width:100%;
      justify-content: space-between;
    }
  }

  &__ref {
    box-sizing: border-box;
    padding: 10px 30px;
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.08);
    text-align: center;
    @include fz(22);
    font-weight: normal;
    margin-bottom: 60px;
    p{
      margin: 0 0 10px 0;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .tree-node{
    &:nth-child(even){
     // background-color: #f6f6f6;
    }
  }

  &__refer{
    span{
      color: $color-main;
      margin: 0 5px;
    }
  }
}

.cabcont {
  h4 {
    @include fz(20, 15, 16, 17, 18);
    font-weight: 600;
  }
}