.cabrefs {
  padding-top: 30px;
  h5 {
    margin: -15px 0 10px 0;
    @include fz(15,12,13,14,14);
    font-weight: normal;
  }
  .chart {
    .node {
      border: 1px solid;
      font-weight: normal;
      padding: 15px;
      box-sizing: border-box;
      p {
        @include fz(14);
        font-weight: normal;
        margin: 0;
      }
    }
  }
}
