.fs-otz {
  h1 {
    @extend %h1;
  }
  &__intro {
    margin-bottom: 60px;
    @include mq(sm) {
      text-align: center;
      margin-bottom: 40px;
    }
  }
  &__item {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #57b846;
    box-shadow: 0px 40px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 0 auto 50px;

    @include mq(lg) {
      width: 250px;
      height: 250px;
    }
    & > img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 90%;
      height: 90%;
      border-radius: 50%;
      margin: auto;
      object-fit: cover;
      object-position: center;
      font-family: 'object-fit: cover; object-position: bottom;';
    }
  }
  &__play {
    position: absolute;
    margin: auto;
    width: max-content;
    height: max-content;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.uk-dotnav {
  a {
    border-color: $color3;
  }
  .uk-active {
    a {
      background-color: $color-main;
      box-shadow: 0 2px 17px rgba($color-main, .35);
    }
  }
}