.headline{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 180px;
  @include mq(md) {
    margin-bottom: 50px;
  }
  @include mq(sm) {
    margin-bottom: 40px;
  }
  @include mq(sm) {
    flex-wrap: wrap;
    justify-content: center;
  }
  &__nav{
    display: flex;
    padding: 0;
    margin: 0;
    @include mq(sm) {
      flex-basis: 100%;
      justify-content: center;
      margin-bottom: 30px;
    }
    li{
      list-style: none;
      margin-right: 35px;
      @include mq(sm) {
        margin: 0 5px;
      }
      a{
        @include fz(18,10,14,15,16);
        font-weight: bold;
        color: $color3;
        padding-bottom: 5px;
        border-bottom: 2px solid transparent;
        transition: 0.3s;
        &:hover{
          text-decoration: none;
        }
      }
      &.uk-active{
        a{
          border-bottom: 2px solid $color-main;
        }
      }
    }
  }
  &__right{
    display: flex;
  }
  &__phone{
    margin-right: 30px;
  }
  &__user{
    cursor: pointer;
    display: flex;
    align-items: center;
    img{
      margin-left: 10px;
    }
  }
}