.tarifs {
  padding: 20px 0 70px;
  @include bgc('cl-bg1.svg');
  background-size: contain;
  background-position: center;
  min-height: 600px;
  h1 {
    @extend %h1;
  }
  .headline {
    margin-bottom: 30px;
  }

  &__intro{
    margin-bottom: 30px;
  }

  &__item{
    box-shadow: 0 2px 17px rgba(#000, .15);
    padding: 25px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-bottom: 20px;
  }

  &__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(sm) {
      flex-direction: column;
    }
  }

  &__footer{
    flex-basis: 30%;
    @include mq(sm) {
      flex-basis: 100%;
    }
  }

  &__content{
    margin-right: 30px;
  }

  &__button{
    flex-basis: 30%;
  }

  h2{
    @include fz(24,18,19,20,21);
    font-weight: 600;
    text-align: left;
    a{
      color: inherit;
    }
    @include mq(sm) {
      text-align: center;
    }
  }
  &__desc{
    p{
      font-size: 0.8em;
      @include mq(sm) {
        font-size: 0.9em;
      }
    }
  }
  &__price{
    text-align: center;
    @include fz(45,30,35,40,43);
    font-weight: bold;
    color: $color-main;
    line-height: 1.1;
    margin-bottom: 30px;
    @include mq(sm) {
      margin-bottom: 10px;
    }
    span{
      text-align: center;
      @include fz(20,16,17,18,19);
      font-weight: bold;
    }
    small{
      text-align: center;
      display: block;
      color: $color2;
      @include fz(20,16,17,18,19);
      font-weight: bold;
    }
  }
}